version: '3'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./prisma/dev.db:/app/prisma/dev.db
    environment:
      - DATABASE_URL=file:./prisma/dev.db
      - JWT_SECRET=super-secret-change-me
